html {
	scroll-behavior: smooth;
}

body {
	transition: all ease-in-out 1;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

main,
footer {
	margin-left: 300px;
}

header {
	width: 300px;
	bottom: 0;
	left: 0;
	top: 0;
}



a:hover span:first-child {
	color: cadetblue;
	transition: color 0.5s ease;

}

.profile-img {
	margin: 15px;
	border: 8px solid color-mix(in srgb, var(--default-color), transparent 85%)
}

.navigator-items {
	color: aliceblue;
}

.navigator-items:hover {
	color: cadetblue;
	transition: color 0.5s ease;

}

@media (max-width:600px) {
	.show-header {
		left: -100%;
	}

	.restore-position {
		margin-left: 0%;
	}
}